{
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "type": "feat",
                        "release": "minor"
                    },
                    {
                        "type": "fix",
                        "release": "patch"
                    },
                    {
                        "type": "docs",
                        "release": "patch"
                    },
                    {
                        "type": "chore",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "changebot",
                        "release": false
                    },
                    {
                        "type": "*",
                        "release": "patch"
                    }
                ]
            }
        ],
        "./scripts/custom-release-notes-generator.js",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "npmPublish": true
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "build/*.tgz",
                        "label": "Build Package"
                    },
                    {
                        "path": "CHANGELOG.md",
                        "label": "Changelog"
                    }
                ],
                "successComment": "🎉 This ${issue.pull_request ? 'pull request is included' : 'issue is fixed'} in version ${nextRelease.version}! You can install it with `npm install @sayfer_io/snapper@${nextRelease.version}`."
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json",
                    "package-lock.json"
                ],
                "message": "changebot(release): ${nextRelease.version}\n\n${nextRelease.notes}"
            }
        ]
    ]
}