{
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "type": "feat",
                        "release": "minor"
                    },
                    {
                        "type": "fix",
                        "release": "minor"
                    },
                    {
                        "type": "perf",
                        "release": "patch"
                    },
                    {
                        "type": "docs",
                        "release": false
                    },
                    {
                        "type": "style",
                        "release": false
                    },
                    {
                        "type": "chore",
                        "release": "minor"
                    },
                    {
                        "type": "changelog",
                        "release": false
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "test",
                        "release": false
                    },
                    {
                        "type": "ci",
                        "release": false
                    },
                    {
                        "type": "*",
                        "release": "minor"
                    }
                ],
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES"
                    ]
                }
            }
        ],
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "npmPublish": true
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "build/*.tgz",
                        "label": "Build Package"
                    },
                    {
                        "path": "CHANGELOG.md",
                        "label": "Changelog"
                    }
                ],
                "successComment": "🎉 This ${issue.pull_request ? 'pull request is included' : 'issue is fixed'} in version ${nextRelease.version}! You can install it with `npm install @your/package@${nextRelease.version}`."
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "package-lock.json",
                    "CHANGELOG.md"
                ],
                "message": "changelog(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}